* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
}

body {
  background: #f1f2ed;
  color: #272725;
  font-size: 16px;
}

/* useful stuff */
strong {
  font-weight: 700;
  color: #1a1c23;
}

a {
  color: #1a1c23;
  text-decoration: underline;
}

blockquote {
  font-size: 20px;
  text-align: center;
}

img {
  width: 100%;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* hero */
section.hero {
  /* ... */
  /* border: 2px solid blue; */
}

.hero--title {
  position: fixed;
  top: 16px;
  margin: auto;
  /* border: 1px dashed #ccc; */
}

.hero--title h1 {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 8rem;
  letter-spacing: 8px;
  text-align: center;
  text-shadow: 0 4px 48px rgba(0, 0, 0, 0.24);
}

/* canvas */
#drawingCanvas {
  /* border: 4px solid blue; */
}

/* about */
section.about > p {
  width: 64%;
}

/* city */
section.city > p {
  width: 56%;
}

/* quote */

/* footer */
section.footer {
  text-align: center;
}

/* media-queries */
@media screen and (max-width: 768px) {
  body {
    border-top: 2px solid blue;
  }

  #drawingCanvas {
    display: none;
  }

  blockquote {
    width: 64%;
    font-size: 16px;
  }

  section.hero {
    background: url("./img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero--title h1 {
    font-size: 4rem;
    letter-spacing: 4px;
    text-shadow: 0 4px 48px rgba(0, 0, 0, 0.24);
  }
}

/* FIN */
